<section class="phx-hero">
  <h1><%= gettext "Le jeu du 3-4" %></h1>
  <p>Vous êtes PM et vous ne savez pas comment dépenser votre argent ? Tentez le 3-4 !</p>
  <script>
   var audio1 = new Audio('audio/ole.ogg');
   var audio2 = new Audio('audio/ole3.ogg');
  </script>

  <% [a,b] = @dices |> IO.inspect() %>
  <img src="images/d<%= a %>.png" phx-click="throw_dices" onclick="audio1.play();">
  <img src="images/d<%= b %>.png" phx-click="throw_dices" onclick="audio2.play();">
  <!-- <p><%= @dice_throw %></p> -->

  <p>
    <%=
      case @dice_throw do
        :idle -> ""
        :victory -> "1 mètre de shots pour Pierre"
        :fail -> "Boouuuh"
        :double -> "On relance !!"
        :running -> "aaaaaaaaaaaah !!!!!"
      end
    %>
  </p>
</section>
